@font-face {
  font-family: 'portBold';
  src: url('fonts/portBold.otf') format('opentype');
}

@font-face {
  font-family: 'portLight';
  src: url('fonts/portLight.otf') format('opentype');
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.transform-rotate-y-180 {
  transform: rotateY(180deg);
}

.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

::selection {
  background: #e6e5dd;
  color: #181619;
}

::-moz-selection {
  background: #e6e5dd;
  color: #181619;
}


.music-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(24, 24, 24, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  box-sizing: border-box;
  border-radius: 100px;
}

.play-pause-btn {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50%;
  transition: background-color 0.2s, transform 0.2s;
}

.play-pause-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.play-pause-btn:active {
  transform: scale(0.95);
}

@media  (max-width: 768px) {
  .music-player{
    right: 10px;
    bottom: 10px;
  }
}

@media  (max-width: 640px) {
  .music-player{
    bottom: 5px;
    right: 5px;
  }
}